@use 'variants' as *;
.content-page-app-bar{
    padding: .75rem;
    display: flex;
    justify-content: space-between;

    .menu {
        padding: 1rem .5rem;
    }

    div{
        gap:0.25rem;
        display:flex;
        justify-content: center;
        img{
            width:120px;
        }

    }
}

.page-header{
    position: relative;
    text-align: center;
    color: $grey-900;
    min-height: 400px;
    background: radial-gradient(closest-side, transparent, rgba(0, 0, 0, 0.5)), url(../static/images/bg.png) top center/ cover no-repeat;
    height: 70vh;
    box-shadow: 0 0 6px 1px $grey-900;
    h1{
        font-size:2rem;
        font-weight: 900;
        text-transform:uppercase;
        letter-spacing: 2px;
    }

    p {
        text-transform:uppercase;
        color: $grey-400;
    }
   
}

.monkey-animation {
    display: none;
}

.banner {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    z-index: 10;
    img{
       opacity: 0;
       max-width: 280px; 
    }

    a{
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        font-size: 1.5rem;
        letter-spacing: 2px;
        font-weight: 900; 
        &:hover {
            color: #C8D3B6;
            -webkit-text-stroke-width: 0;
            text-decoration: none;
        }
    }

    ul#countdown {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        width: 280px;
        margin: 0 auto;
        padding: 1rem 0;
        color: #fff;
        border: 1px solid $grey-200;
        border-width: 1px 0;
        overflow: hidden;
        font-weight: bold;
        
        li {
          margin: 0 -3px 0 0;
          padding: 0;
          display: inline-block;
          width: 24%;
          font-size: 3rem;
          text-align: center;
          
          .label {
            color: $grey-200;
            font-size: .875rem;
            font-weight: 300;
            text-transform: uppercase;
          }
        }
    }
}
.social-list {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  li{
    padding: 1rem;
    a{transition: all .2s ease-in-out;
        :hover { transform: scale(1.2); }
    }
  }
}


.sliding-nav{
    position: absolute;
    top:0;
    left:-400px;
    height: 100vh;
    width: 400px;
    background: #242E14;
    transition: left 0.8s ease-in-out;
    z-index: 300;
}
.sliding-nav--open{
    left: 0px;
}

.show{
    z-index: 200;
}

.navbar--items{
    list-style-type: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.navbar--item{
    margin: 2rem 0;
    a {
        padding: 1rem;
        letter-spacing: 1px;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.5rem;
        &:hover {
            color: #C8D3B6;
            text-decoration: none;
        }
    }
    .comingsoon {
        &:hover {
            position: relative;
        }
        &:hover:after{
            content: url(../static/svg/icons/coming-soon.png);
            display: block;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
.hamburger-menu {
    z-index: 999;
    position: absolute;
    top: 30px;
    right: 30px;
    margin: auto;
    width: 40px;
    height: 30px;
    cursor: pointer;
}
.hamburger {
    position: relative;
    transform: translateY(10px);
    background: white;
    transition: all 0ms 300ms;
}
.hamburger,
.hamburger:after,
.hamburger:before {
    width: 40px;
    height: 3px;
}
.hamburger:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    background: white;
    transition: bottom 0.3s ease-in-out;
}
.hamburger:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    background: white;
    transition: top 0.3s ease-in-out;
}
.menu-opened:before {
    bottom: 3px;
    transition: bottom 0.3s ease-in-out;
}
.menu-opened:after {
    top: 3px;
    transition: top 0.3s ease-in-out;
}

@media(min-width:535px){
    .banner {
        top: 25%;
        left: 35%;
        img{
           max-width: 320px; 
        }
        a{
            font-size: 1.75rem;
        }
        ul#countdown {
            top: 50%;
            width: 300px;
        }
    }

    .social-list {
        top: 100%;
        // bottom: -40%;
    }
}

@media(min-width:780px){
    .monkey-animation {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        .ani {
            position: relative;
            max-width: 480px;
        }
        .ani-1 {
            position: absolute;
            top: 24%;
            left: 10%;
            max-width: 90px;
            transform-origin: 25% 11%;
            -webkit-animation: monkey-arm 2s infinite ease-in-out;
            -moz-animation: monkey-arm 2s infinite ease-in-out;
            -o-animation: monkey-arm 2s infinite ease-in-out;
            animation: monkey-arm 2s infinite ease-in-out;
        }

        .ani-2 {
            position: absolute;
            top: 0;
            right: 0;
            max-width: 56px;
            transform-origin: 1% 1%;
            -webkit-animation: monkey-arm-2 3s infinite ease-in-out;
            -moz-animation: monkey-arm-2 3s infinite ease-in-out;
            -o-animation: monkey-arm-2 3s infinite ease-in-out;
            animation: monkey-arm-2 3s infinite ease-in-out;
        }

        .ani-3 {
            position: absolute;
            top: 84%;
            right: 7.5%;
            max-width: 40px;
            transform-origin: 70% 20%;
            -webkit-animation: monkey-arm-3 2.8s infinite ease-in-out;
            -moz-animation: monkey-arm-3 2.8s infinite ease-in-out;
            -o-animation: monkey-arm-3 2.8s infinite ease-in-out;
            animation: monkey-arm-3 2.8s infinite ease-in-out;
        }

        @-webkit-keyframes monkey-arm{ 0% { -webkit-transform: rotateZ(-30deg);  } 50% { -webkit-transform: rotateZ(60deg); } 100% { -webkit-transform: rotateZ(-30deg); } }
        @-moz-keyframes monkey-arm{ 0% { -moz-transform: rotateZ(-30deg);  } 50% { -moz-transform: rotateZ(60deg); } 100% { -moz-transform: rotateZ(-30deg); } }
        @-o-keyframes monkey-arm{ 0% { -o-transform: rotateZ(-30deg);  } 50% { -o-transform: rotateZ(60deg); } 100% { -o-transform: rotateZ(-30deg); } }
        @keyframes monkey-arm{ 0% {-webkit-transform: rotateZ(-30deg);-moz-transform: rotateZ(-30deg);-ms-transform: rotateZ(-30deg);transform: rotateZ(-30deg);  } 50% {-webkit-transform: rotateZ(60deg);-moz-transform: rotateZ(60deg);-ms-transform: rotateZ(60deg);transform: rotateZ(60deg); } 100% {-webkit-transform: rotateZ(-30deg);-moz-transform: rotateZ(-30deg);-ms-transform: rotateZ(-30deg);transform: rotateZ(-30deg); } }
        [not-existing] {
        zoom: 1;
        }

        
        @-webkit-keyframes monkey-arm-2{ 0% { -webkit-transform: rotateZ(0deg);  } 50% { -webkit-transform: rotateZ(30deg); } 100% { -webkit-transform: rotateZ(0deg); } }
        @-moz-keyframes monkey-arm-2{ 0% { -moz-transform: rotateZ(0deg);  } 50% { -moz-transform: rotateZ(30deg); } 100% { -moz-transform: rotateZ(0deg); } }
        @-o-keyframes monkey-arm-2{ 0% { -o-transform: rotateZ(-30deg);  } 50% { -o-transform: rotateZ(30deg); } 100% { -o-transform: rotateZ(-30deg); } }
        @keyframes monkey-arm-2{ 0% {-webkit-transform: rotateZ(0deg);-moz-transform: rotateZ(0deg);-ms-transform: rotateZ(0deg);transform: rotateZ(0deg);  } 50% {-webkit-transform: rotateZ(30deg);-moz-transform: rotateZ(30deg);-ms-transform: rotateZ(30deg);transform: rotateZ(30deg); } 100% {-webkit-transform: rotateZ(0deg);-moz-transform: rotateZ(0deg);-ms-transform: rotateZ(0deg);transform: rotateZ(0deg); } }
        [not-existing] {
        zoom: 1;
        }

        @-webkit-keyframes monkey-arm-3{ 0% { -webkit-transform: rotateZ(-45deg);  } 50% { -webkit-transform: rotateZ(10deg); } 100% { -webkit-transform: rotateZ(-45deg); } }
        @-moz-keyframes monkey-arm-3{ 0% { -moz-transform: rotateZ(-45deg);  } 50% { -moz-transform: rotateZ(10deg); } 100% { -moz-transform: rotateZ(-45deg); } }
        @-o-keyframes monkey-arm-3{ 0% { -o-transform: rotateZ(-45deg);  } 50% { -o-transform: rotateZ(10deg); } 100% { -o-transform: rotateZ(-45deg); } }
        @keyframes monkey-arm-3{ 0% {-webkit-transform: rotateZ(-45deg);-moz-transform: rotateZ(-45deg);-ms-transform: rotateZ(-45deg);transform: rotateZ(-45deg);  } 50% {-webkit-transform: rotateZ(30deg);-moz-transform: rotateZ(10deg);-ms-transform: rotateZ(10deg);transform: rotateZ(10deg); } 100% {-webkit-transform: rotateZ(-45deg);-moz-transform: rotateZ(-45deg);-ms-transform: rotateZ(-45deg);transform: rotateZ(-45deg); } }
        [not-existing] {
        zoom: 1;
        }

    }

    .content-page-app-bar{
        padding: .5rem 2rem;
        div{
            img{
                width:180px;
            }
        }

        .hamburger-menu {
            display: none;
        }

        .sliding-nav {
            left: unset;
            right: 1rem;
            background-color: transparent;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            width: 50px;
            .navbar--items {
                display: flex;

                .navbar--item {
                    margin: 0 1rem;
                }
            }
        }
    }

    .social-list {
        top: unset;
    }
}

@media (min-width: 900px) {
    .banner {
        top: 24%;
        left: 40%;
        img{
           max-width: 420px; 
        }
        a{
            font-size: 2.25rem;
        }
        ul#countdown {
            top: 50%;
            width: 400px;
            li {
                font-size: 4rem;
                .label {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (min-width: 1300px) {
    .banner {
        top: 10%;
        left: 30%;
        img{
           max-width: 600px; 
        }
        a{
            font-size: 3.25rem;
        }
        ul#countdown {
            top: 50%;
            width: 600px;
            li {
                font-size: 6rem;
                .label {
                    font-size: 1.5rem;
                }
            }

        }
    }
}


@media (min-width: 1600px) {
    .banner {
        top: 10%;
        left: 40%;
        width: 600px;
        img{
           max-width: 600px; 
        }
        a{
          font-size: 4rem;
        }    
    }

    .monkey-animation {
        .ani {
            position: relative;
            max-width: 560px;
        }
        .ani-1 {
            position: absolute;
            top: 23%;
            left: 10%;
            max-width: 110px;
        }

        .ani-2 {
            position: absolute;
            top: 0;
            right: 8%;
            max-width: 74px;
        }

        .ani-3 {
            position: absolute;
            top: 88%;
            right: 8%;
        }
    }
}